@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  border: 1px solid rgba(255, 0, 0, 0.164);
}

:root {
  font-size: 16px;
  --orange-50: #fff7ed;
  --orange-100: #ffedd5;
  --orange-300: #fdba74;
  --orange-500: #f97316;
  --orange-700: #c2410c;
  --orange-900: #7c2d12;
  --emerald-600: #059669;
  --neutral-800: #262626;
}

body {
  color: var(--neutral-800);
  font-family: "Rubik", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  justify-content: space-between;
}

button {
  cursor: pointer;
  padding: 16px;
  border: none;
}

.toggle-read.read {
  background-color: red;
  color: white;
}

.toggle-read-modal.read {
  background-color: red;
  color: white;
}

nav {
  background-color: var(--orange-500);
  padding: 16px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.book-container {
  display: flex;
  height: 100%;
  width: 100%;
  flex-wrap: wrap;
}

.book-card {
  margin: 24px;
  width: 200px;
  height: 300px;
}

.modal.active {
  position: fixed;
  display: block;
}

#modal-container {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.425);
  justify-content: center;
  align-items: center;
}

.modal-card {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 50%;
  left: 50%;
}

.modal {
  display: none;
}
